
#Mysql Definition
name: MYSQL_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 2
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf


#Mongo Definition
name: MONGO_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 2
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf


#RTP Definition
aws_region: eu-west-2
name: RTP_SERVER
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 2
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf
assign_public: true

#Web Definition
name: WEB_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 2
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf
public_ip: true

#Grafana Definition
name: GRAFANA_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 1
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf
public_ip: true

#Elastic Search Definition
name: ELASTIC_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 1
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf

#Console Definition
name: CONSOLE_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 1
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf
public_ip: true

#Influx DB Definition
name: INFLUX_SERVER
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 1
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf

#Screen Recorder Definition
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 1
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf

#ReportingDB Recorder Definition
aws_region: eu-west-2
subnet_id: subnet-1357975f
vpc_id: vpc-50543b38
cidr_ip: 172.16.2.0/24
instance_type: t2.micro
security_group: customeraccess
instance_count: 1
customer_cidr: 172.16.2.0/24
image: ami-0008387b36c9ff743
#keypair: CX100UK
keypair: test
ami_owner_id: 679593333241
aws_access_key: "{{ lookup('env','AWS_ACCESS_KEY') }}"
aws_secret_key: "{{ lookup('env','AWS_SECRET_KEY') }}"
health_check_period: 600
server01_ami.image_id: ami-0008387b36c9ff743
availabilty_zone: eu-west-2a
vpc_subnet_id: subnet-b5b00dcf
assign_public: true

{% if item.value.ansible_group == 'mysql' %} 
proto: tcp
from_port: 22
to_port: 22
cidr_ip: "{{ my_ip.content | replace('\n', '') }}/32"
proto: tcp
from_port: 3306
to_port: 3306
ingress_cidr_ip: "{{ customer_cidr }}"
egress_cidr_ip: 0.0.0.0/0
{% elif item.value.ansible_group == 'grafana' %}
cidr_ip: "{{ my_ip.content | replace('\n', '') }}/32"
from_port: 443
to_port: 443
cidr_ip: 104.160.82.7/32
proto: tcp
from_port: 443
to_port: 443
cidr_ip: 104.160.84.7/32
proto: tcp
from_port: 443
to_port: 443
cidr_ip: 135.196.97.21/32
proto: tcp
from_port: 443
to_port: 443
cidr_ip: 89.187.126.135/32
proto: tcp
from_port: 443
to_port: 443
cidr_ip: 185.66.113.177/32
rules_egress:
proto: all
cidr_ip: 0.0.0.0/0
{% elif item.value.ansible_group == 'reportingDB' %}
cidr_ip: "{{ my_ip.content | replace('\n', '') }}/32"
from_port: 3306
to_port: 3306
cidr_ip: 104.160.82.7/32
proto: tcp
from_port: 3306
to_port: 3306
cidr_ip: 104.160.84.7/32
proto: tcp
from_port: 3306
to_port: 3306
cidr_ip: 135.196.97.21/32
proto: tcp
from_port: 3306
to_port: 3306
cidr_ip: 89.187.126.135/32
proto: tcp
from_port: 3306
to_port: 3306
cidr_ip: 185.66.113.177/32
rules_egress:
proto: all
cidr_ip: 0.0.0.0/0
{% elif item.value.ansible_group == 'rtp_server' %}
proto: udp
from: 40000
to: 65535
cidr_ip: 0.0.0.0/0
proto: udp
from: 40000
to: 65535
cidr_ip: ::/0
{% elif item.value.ansible_group == 'text2speech' %}
proto: tcp
from: 3389
to: 3389
cidr_ip: 0.0.0.0/0
proto: udp
from: 40000
to: 65535
{% elif item.value.ansible_group == 'private' %}
proto: tcp
from: 80
to: 80
cidr_ip: 0.0.0.0/0
proto: tcp
from: 60200
to: 60200
proto: all
cidr_ip: 172.16.2.0/24
proto: tcp
from: 51470
to: 51470
cidr_ip: 0.0.0.0/0
proto: tcp
from: 22
to: 22
cidr_ip: 135.196.97.21/32
proto: udp
from: 40000
to: 65535
cidr_ip: 0.0.0.0/0
proto: tcp
from: 45024
to: 45025
cidr_ip: 0.0.0.0/0
proto: udp
from: 5080
to: 5080
cidr_ip: 0.0.0.0/0
proto: tcp
from: 3389
to: 3389
cidr_ip: 135.196.97.21/32
proto: tcp
from: 443
to: 443
cidr_ip: 0.0.0.0/0
proto: tcp
from: 7082
to: 7082
cidr_ip: 135.196.97.21/32
proto: tcp
from: 7082
to: 7082
cidr_ip: 104.160.82.7/32
{% endif %} 

{% for package in item.value.vm_packages %}
{{ package }}
{% endfor %}
%end
